[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-graphql-jwt = "*"
pyjwt = "*"
django-cors-headers = "*"
graphene-django = "*"

[requires]
python_version = "3.8"

[dev-packages]
